body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar {
    height: 60px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between; /* Adjusted for better spacing */
}

.navbar p {
    font-size: 24px;
    color: #12141D;
    font-weight: 900;
    cursor: pointer;
}

.options {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px; /* Adjusted spacing */
}

a:hover {
    color: #3D8361;
}

.navbar button {
    font-size: 1.2rem;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #3D8361;
    cursor: pointer;
}

main {
    padding: 20px;
}
.cont{
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;

}
.contact-container {
    max-width: 600px;
    margin: 40px auto; /* Creates space above and below the container */
    padding: 40px; /* More padding for content space */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.response-message {
    margin-top: 20px;
    font-weight: bold;
}

.footer-container {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #3D8361;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: #3D8361;
    font-size: 20px;
}

.social-media a:hover {
    color: #007bff; /* Change color on hover */
}
