/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background color */
    display: flex; /* Centering content */
    flex-direction: column; /* Arrange content in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height of the viewport */
}

header {
    top:0;
    background-color: #155a4c; /* Header background color */
    padding: 10px 20px;
    color: white;
    text-align: center; /* Center the header text */
    width: 100%; /* Full width */
}

.container {
    text-align: center; /* Center text inside the container */
    margin: 20px; /* Space around the container */
    background: white; /* White background for the container */
    padding: 20px; /* Padding inside the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    margin-top: 200px;
    margin-bottom: 200px;
}

h2 {
    margin-top: 0; /* Remove default margin */
    color: #155a4c; /* Color for the heading */
}

p {
    color: #333; /* Text color */
    margin: 10px 0; /* Space above and below the paragraph */
}

.logout-button {
    display: inline-block;
    background-color: #155a4c; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
}

.logout-button:hover {
    background-color: #0a3d35; /* Darker shade on hover */
}

footer {
    background-color: #155a4c; /* Footer background color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    padding: 10px; /* Padding */
    position: relative;
    bottom: 0;
    width: 100%; /* Full width */
}

footer p{
    color: white;
}
